<div class="header"></div>
<div class="login-container">
    <mat-card style="background-color: white; padding: 30px; height: 765px; position: absolute; top: 12%; left: 34%; width: 500px; border-radius: 10px 10px 0 0;">
      <div class="header-class">
        <h1>Kayıt ol</h1>
      </div>
      <mat-card-content>
        <form class="form-content">

          <mat-form-field class="form-group">
            <mat-label for="adsoyad">Ad Soyad:</mat-label>
            <input matInput type="text" id="adsoyad" name="adsoyad">
          </mat-form-field>
       
          <mat-form-field class="form-group">
            <mat-label for="email">E-Mail:</mat-label>
            <input matInput="" type="email" name="email" [(ngModel)]="email" required="">
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label for="password">Şifre:</mat-label>
            <input matInput=""  type="password" name="password" [(ngModel)]="password" required="">
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label for="password">Şifre Tekrar:</mat-label>
            <input matInput type="password" id="passwordAgin" name="passwordAgain">
          </mat-form-field>
        </form>
          <button mat-raised-button class="btn-sign" type="submit" color="primary" (click)="onSignUp()">Kayıt Ol</button>
          <button mat-button class="btn-login" type="submit" color="primary" [routerLink]="['/login']">Giriş Yap</button>
      </mat-card-content>
    </mat-card>
</div>
   