.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;
  background-color: #f0f0f0;

  .login-card {
    width: 550px;
    background-color: #f0f0f0 !important;
  }

  .form-group {
    width: 100%;
    margin-top: 16px;
  }

  button {
    width: 100%;
    margin-top: 16px;
  }

  .register-link {
    text-align: center;
    margin-top: 16px;

    a {
      color: #007bff;
      text-decoration: none;
    }
  }
}

  .header {
    width: 100%;
    height: 300px;
    background-color: #3f51b5;
  }
  .header .header-class {
    min-height: 150px;
    background-color: #27389c;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #f2f2f2;
    position: relative;
    left: -6%;
    width: 500px;
    justify-content: center;
  }
  .header .header-white-base {
    padding: 0 30px;
    color: #f2f2f2;
    position: relative;
    top: 150px;
    left: 32%;
    width: 500px;
  }
  .btn-login {
    position: relative;
    top: 80px;
  }
  .btn-sign {
    position: relative;
    top: 80px;
  }