<div class="header"></div>
<div class="note-container">
    <mat-card style="background-color: white; padding: 30px; height: 765px; position: absolute; top: 12%; left: 34%; width: 600px; border-radius: 10px 10px 0 0;">
      <div class="header-class">
        <div>
          <h1>Notlar</h1>
        </div>
        <div class="log-out">
          <button mat-raised-button class="btn-logout" type="submit" color="primary">Çıkış Yap</button>
        </div>
      </div>
      <mat-card-content>

        <mat-card style=" width: 90%; position: absolute; top: 200px; height: 120px; left: 35px; cursor: pointer;">
          <div class="mat-card-header">
            <div class="note-header">
              <h2>Azad</h2>
            </div>
            <div class="note-content">
                <h2>content</h2>
            </div>
              <button mat-icon-button class="delete-icon" (click)="deleteNote()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button class="edit-icon" (click)="editNote()">
                <mat-icon>edit</mat-icon>
              </button>
          </div>
        </mat-card>
        <button mat-raised-button class="btn-note" type="submit" color="primary" (click)="addNote()">Note Ekle</button>
      </mat-card-content>
    </mat-card>
</div>
  